<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="odrive_ros2_control" params="name enable_front_left:=^|true enable_front_right:=^|true enable_back_left:=^|true enable_back_right:=^|true">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>odrive_hardware_interface/ODriveHardwareInterface</plugin>
      </hardware>

      <sensor name="front_wheels">
        <param name="serial_number">3672386F3131</param>
      </sensor>

      <xacro:if value="${enable_front_left}">
        <joint name="front_left_wheel_joint">
          <param name="serial_number">3672386F3131</param>
          <param name="axis">0</param>
          <param name="enable_watchdog">0</param>
          <param name="watchdog_timeout">0.1</param>
        </joint>
      </xacro:if>

      <xacro:if value="${enable_front_right}">
        <joint name="front_right_wheel_joint">
          <param name="serial_number">3672386F3131</param>
          <param name="axis">1</param>
          <param name="enable_watchdog">0</param>
          <param name="watchdog_timeout">0.1</param>
        </joint>
      </xacro:if>


      <sensor name="back_wheels">
        <param name="serial_number">3374365A3539</param>
      </sensor>

      <xacro:if value="${enable_back_left}">
        <joint name="back_left_wheel_joint">
          <param name="serial_number">3374365A3539</param>
          <param name="axis">1</param>
          <param name="enable_watchdog">0</param>
          <param name="watchdog_timeout">0.1</param>
        </joint>
      </xacro:if>

      <xacro:if value="${enable_back_right}">
        <joint name="back_right_wheel_joint">
          <param name="serial_number">3374365A3539</param>
          <param name="axis">0</param>
          <param name="enable_watchdog">0</param>
          <param name="watchdog_timeout">0.1</param>
        </joint>
      </xacro:if>
    </ros2_control>

  </xacro:macro>

</robot>
